// ****************** All ********************//
img {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
}

// **************** Header *******************//
.site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.site-title {
    position: relative;
    max-width: 50%;
}

.headerTitle1 {
    position: absolute;
    font-family: $title-font;
    width: 600px;
    font-size: 48pt;
    padding-left: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background: $color_gradient1;
}

.headerTitle2 {
    font-family: $title-font;
    width: 600px;
    color: $color_second_highlight;
    font-size: 48pt;
    padding-left: 20px;
    font-weight: 800;
    text-transform: uppercase;
    animation: titleFlow 4s ease-in-out infinite;
}

.site-header {
    position: relative;
}

.site-description {
    color: $white;
    position: absolute;
    top: 55%;
    left: 2.5%;
    animation: slideLeft 2s ease-out;
    text-shadow: 0px 3px 0px #18160f, 0px 14px 10px rgba(0, 0, 0, 0.3);
    font-family: $desc-font;
    font-size: 24px;
    color: $white;
}


.site-title {
    a {
        text-decoration: none;
    }

    .headerTitle1 {
        color: rgb(0, 0, 0);
    }
}


// Header Navigation

.buttons .btn-main {
    border-radius: 20px;
}

@media (min-width:900px) {

    .menus {
        position: absolute;
        top: 20px;
        left: 79%;
        color: $white;
        width: fit-content;

        span {
            font-size: 32px;
            margin-right: 20px;
            font-family: $title-font;
            font-weight: 600;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            transform: translateX(230px);
            text-decoration: none;
            margin-top: 2px;
        }

        .menuSpan {
            transform: translateX(138px) translateY(-7px);
            cursor: none;
        }

        .span1 {
            text-decoration: none;
            color: $white;
        }

        .span2 {
            display: none;
        }
    }

    span:hover+.span2 {
        display: block;
        position: absolute;
        top: 80px;
        left: -180px;
        text-align: center;
        text-decoration: none;
        background: $color_gradient1;
        color: black;
        font-weight: 600;
        padding: 5px 7px;
    }

    .btn-home {
        text-decoration: none;
        color: $white;
    }

}



// **************** Main *******************//
.entry-content {
    a {
        display: none;
    }
}

.section:nth-of-type(1) {
    background: $color_gradient2;
    padding-top: 5.5em;
}

.section:nth-of-type(2) {
    background: $color_gradient2;
    padding-top: 5.5em;
}


.section {
    position: relative;
    padding-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
}

.sectionTitle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: $white;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: $color_gradient2;
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 3em;
    padding: 15px;
}


.copyRight {
    text-align: center;
    padding: 0 auto;
}


//Front Page
.site-header {
    height: 400px;
    background-image: url('image/bgImgGrey.jpg');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    opacity: 0.7;
}


#main {
    .section:nth-of-type(1) {
        article {
            margin-top: 0;
            position: relative;

            .category-project {
                margin-top: 20px;
            }

            .entry-title {
                position: absolute;
                top: 40%;
                left: 40%;

            }
        }
    }
}


.section:nth-of-type(1) {
    img {
        filter: grayscale(100);
    }

    .post:hover {
        img {
            filter: grayscale(0);
            transform: translateY(-10px);
            transition: transform 1s ease;
            z-index: -1;
            clip-path: none;
        }

        .entry-title {
            color: white;
            background-color: $color_heading;
            opacity: 0.6;
            text-align: center;
            padding: 2rem auto;
        }
    }
}

.section:nth-of-type(1) {
    article:nth-of-type(1) {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }

    article:nth-of-type(2) {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }

    article:nth-of-type(3) {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }

    article:nth-of-type(4) {
        clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    }

    article:nth-of-type(5) {
        clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    }

    article:nth-of-type(6) {
        clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    }

    article:nth-of-type(7) {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }

    article:nth-of-type(8) {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }

    article:nth-of-type(9) {
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }
}

.entry-title {
    z-index: 1000;
    color: $color_primary;
    background: $color_gradient3;
    opacity: 0.9;
    text-align: center;
    font-family: $title-font;
    font-size: 16pt;
    padding: 3px;
    font-weight: 600;
}

//***** Skills Page *****//

.section:nth-of-type(2) {
    padding-bottom: 6rem;

    .flip-card {
        max-width: 100%;
        height: 300px;
        perspective: 1000px;

        .entry-title {
            background: $color_gradient1;
            padding: 0.5rem 2rem;
            margin-top: 20%;
            font-size: 36pt;
            margin: auto;
            transform: translateY(120px);
        }


    }

    .flip-card-inside {
        width: 100%;
        height: 100%;
        transition: transform 1s ease;
    }


    .flip-card:hover .flip-card-inside {
        transform: rotateY(180deg);
    }


    .flip-card-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 117%;
        cursor: pointer;
    }

    .flip-card-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all 1s ease;
        cursor: pointer;
    }


    .flip-card-front {
        background: $color_gradient1;
    }


    .flip-card:hover .flip-card-front {
        transform: rotateY(180deg);
    }


    .flip-card:hover .flip-card-back {
        transform: rotateY(180deg);
    }

}



//**************** GRID **********************//

body:not(.home) .site-main {
    display: grid;
    grid-gap: 1rem;

    @media screen and (min-width: 700px) {
        grid-template-columns: repeat(3, 1fr);


    }
}

.home .site-main .section {
    display: grid;
    grid-gap: 1rem;

    @media screen and (min-width: 700px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.home .section:nth-of-type(2) {
    grid-template-columns: repeat(2, 1fr);
}



// **************** About Me Page *******************//
.page-id-65 {

    .site-main {
        position: relative;
    }

    .content-area {
        height: 1200px;
        background: $color_gradient2
    }

    .sectionTitle {
        font-weight: 600;
        text-align: center;
    }
}

.sectionAboutMe {
    figure {
        img {
            max-width: 50%;
            max-height: 100%;
            height: 1050px;
            position: absolute;
            top: 3%;
            left: 43%;
            margin-right: 10%;
            transform: translateY(70px) translateX(45px);
        }
    }

    p {
        font-family: $desc-font;
        font-size: 22px;
        margin-left: 60px;
        width: 500px;
        color: $white;
        transform: translateY(80px);
    }


}



// **************** Project Page *******************//
.page-id-68 {
    .entry-title {
        margin-bottom: 0;
    }

    .content-area {
        background: $color_gradient2
    }


}


// **************** Contact Page *******************//
.page-id-91 {
    .content-area {
        text-align: center;
    }
}

.sectionContact {
    text-align: center;
    position: relative;
}

.sectionContactTitle {
    font-family: $title-font;
    font-weight: 600;
}

.contactTitle1 {
    display: none;
}

.contactTitle2 {
    display: none;
}

.contactForm {
    margin: -20px 0;

    .inputForm {
        padding: 0 20px;
        float: left;
        box-sizing: border-box;
        position: relative;
        margin: 32px 0;

        &.short {
            width: 50%;
        }

        &.long {
            width: 100%;
        }
    }

    .inputBox {
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: rgb(0, 0, 0);
    }

    .label {
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-size: 18px;
        line-height: 26px;
        color: rgb(126, 126, 126);
        cursor: text;
    }

    .submitBtn {
        background: $color_gradient1;
        font-family: $title-font;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 12px 16px;
        border: none;
        cursor: pointer;
    }

    .submitBtnWrap {
        margin-bottom: 40px;
    }

}


// **************** Single Page *******************//
.single {
    background: $color_gradient2;
    .content-area {
        .site-main {
            display: block;
        }
    }
    .entry-content {
        display: none;
    }

    .single-content {
        color: white;
    }

    .copyRight {
        color: rgb(184, 190, 184);
    }
}