//*****color*****//
$color_header :  #99B898;
$color_primary : #32383d;
$color_secondary : #6C5B7B;
$color_gradient1 : linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
$color_gradient2 : linear-gradient(360deg, #2f332e 10%, #666967 360%);
$color_gradient3 : linear-gradient(-86deg, #09E5C3 5%, #7AEC8D 53%, #EEF85B  91%);
$color_prime_highlight : #EEF85B;
$color_second_highlight : #a1e7c0;
$color_title : #2A363B;
$color_heading : #4C4452;
$white: rgba(239, 240, 239, 0.897);

//*****font*****//
$title-font: 'Intro', sans-serif;
$desc-font: 'Smooch', cursive;;

